/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.json-toggle,
.json-toggle>.json-string,
.json-placeholder {
    cursor: pointer;
}

@media (min-width: 1600px) {
    .container-xxl--super-large {
        max-width: 1500px;
    }
}

@media (min-width: 1824px) {
    .container-xxl--super-large {
        max-width: 1624px;
    }
}